body *{margin: 10px auto}

body {font-family: 'Roboto Mono', monospace;
    background-image: url('../images/background.jpg') ;
    text-align: center;
    min-width: 400px;
}


#imagecontainer {
    width: 50%
}

img {max-width: 300px;
    max-height: 300px;
    display: block;
    width: auto;
    height: auto}


h1{
    font-size: 48px;
    font-weight: bold;
    
}

.largeinfo {
    font-size: 32px;
}

button{
    border: solid gray 1px;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    width: 30%
    
}

#EasyButton {
    background-color: rgb(26, 62, 141); /* Green */
}

#MediumButton{
    background-color: rgb(151, 149, 21) 
}

#HardButton{
    background-color: rgb(145, 34, 20)
}

#AgainButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#gamecontainer{
    background-color: seashell;
    border: solid 4px seagreen;
    margin-top: 60px;
    width: 80%;
}

@media only screen and (max-width: 800px){
    button{
    width: 80%
    }
}